.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  outline: none;
}

.secondary {
  color: var(--accents-6);
  transition: color 0.1s ease;
}

@media (hover: hover) {
  .secondary:hover:not(.disabled) {
    color: var(--geist-foreground);
  }
}
