node_modules
**/.jujutsu/**
**/_jujutsu/**
**/dist/**
packages/jujutsu/compiled/**/*
packages/jujutsu-discord/compiled/**/*
packages/jujutsu-discord-rs/compiled/**/*
**/__tmp__/**
packages/create-jujutsu/templates/**