node_modules
**/.berserk/**
**/_berserk/**
**/dist/**
packages/berserk/compiled/**/*
packages/berserk-discord-js/compiled/**/*
packages/berserk-discord-rs/compiled/**/*
**/__tmp__/**
packages/create-berserk/templates/**