# build output
dist
.jujutsu

# dependencies
node_modules
package-lock.json
yarn.lock
!/yarn.lock

# logs & pids
*.log
pids
*.cpuprofile

# Editors
**/.idea
**/.#*
.nvmrc

# examples
examples/**/out
examples/**/.env*.local

# Vercel
.vercel
.now

# Cache
*.tsbuildinfo
.swc/

# Other
.hintrc
.turbo
apps
examples
tsup.config.ts
hyper.js
packages/cli