node_modules
**/.berserk/**
**/_berserk/**
**/.next/**
**/dist/**
packages/berserk/compiled/**
packages/berserk-discord/compiled/**
**/__tmp__/**
lerna.json
pnpm-lock.yaml
package.json
packages/berserk-discord/target/**