node_modules
**/.jujutsu/**
**/_jujutsu/**
**/.next/**
**/dist/**
packages/jujutsu/compiled/**
packages/jujutsu-discord/compiled/**
**/__tmp__/**
lerna.json
pnpm-lock.yaml
package.json
packages/jujutsu-discord/target/**
apps/web/**/*.md
apps/web/**/*.mdx