@font-face {
  font-family: "Jost";
  src: url("./jost/100.ttf"), format("truetype");
  weight: 100;
}
@font-face {
  font-family: "Jost";
  src: url("./jost/200.ttf"), format("truetype");
  weight: 200;
}
@font-face {
  font-family: "Jost";
  src: url("./jost/300.ttf"), format("truetype");
  weight: 300;
}
@font-face {
  font-family: "Jost";
  src: url("./jost/400.ttf"), format("truetype");
  weight: 400;
}
@font-face {
  font-family: "Jost";
  src: url("./jost/500.ttf"), format("truetype");
  weight: 500;
}
@font-face {
  font-family: "Jost";
  src: url("./jost/600.ttf"), format("truetype");
  weight: 600;
}
@font-face {
  font-family: "Jost";
  src: url("./jost/700.ttf"), format("truetype");
  weight: 700;
}
@font-face {
  font-family: "Jost";
  src: url("./jost/800.ttf"), format("truetype");
  weight: 800;
}
@font-face {
  font-family: "Jost";
  src: url("./jost/900.ttf"), format("truetype");
  weight: 900;
}

/* Italic */

@font-face {
  font-family: "Jost";
  src: url("./jost/italic/100.ttf"), format("truetype");
  weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Jost";
  src: url("./jost/italic/200.ttf"), format("truetype");
  weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Jost";
  src: url("./jost/italic/300.ttf"), format("truetype");
  weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Jost";
  src: url("./jost/italic/400.ttf"), format("truetype");
  weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Jost";
  src: url("./jost/italic/500.ttf"), format("truetype");
  weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Jost";
  src: url("./jost/italic/600.ttf"), format("truetype");
  weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Jost";
  src: url("./jost/italic/700.ttf"), format("truetype");
  weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Jost";
  src: url("./jost/italic/800.ttf"), format("truetype");
  weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Jost";
  src: url("./jost/italic/900.ttf"), format("truetype");
  weight: 900;
  font-style: italic;
}
