.navbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  min-width: 1024px;
  z-index: 9997;
  background: #fff;
}

@media only screen and (max-width: 1044px) {
  .navbar {
    min-width: 320px;
  }
}

@media only screen and (max-width: 833px) {
  .navbar {
    height: 48px;
  }
}

.navbar.css-sticky {
  position: -webkit-sticky;
  position: sticky;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.92);
}

.background::after {
  margin-left: -512px;
  left: 50%;
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  width: 1010px;
  height: 1px;
  z-index: 1;
  transition: all .3s ease;
}

.on-scroll {
  box-shadow: var(--header-border-bottom);
}

.on-scroll {}

@media only screen and (max-width: 1023px) {
  .background::after {
    margin-left: 0;
    left: 0;
    width: 100%;
  }
}

.content {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 22px;
  position: relative;
  z-index: 2;
}

@media only screen and (min-width: 1024px) {
  .content {
    padding: 0;
  }
}

.item {
  font-size: 21px;
  line-height: 1.14286;
  font-weight: 400;
  letter-spacing: .011em;
  cursor: default;
  display: block;
  margin: 10px 0 -10px;
  padding: 0;
  height: 52px;
  white-space: nowrap;
}

.previous {
  float: left;
}

.next {
  float: right;
}

.next>a,
.previous>a {
  color: var(--accents-6)
}

@media (hover:hover) {

  .next>a:hover,
  .previous>a:hover {
    color: var(--accents-8)
  }
}

.previous svg,
.next svg {
  margin: 5px 0 -5px;
  transform: scaleY(0.84);
}