---
interface Props {
  to: string;
}
const { to } = Astro.props;
---

<div class="page-nav">
  <span></span>
  <a href={to} class="btn fw4 no-drag"
    ><slot /><span class="arrow-icon_container arrow-icon_flex arrow-icon_right"
      ><svg height="24" viewBox="0 0 24 24" width="24"
        ><g fill="#0070f3"
          ><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"></path>
        </g>
      </svg>
    </span>
  </a>
</div>

<style>
  .page-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 3rem;
  }
  .btn {
    position: relative;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    padding: 0.25rem 0.5rem;
    margin: -0.25rem -0.5rem;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: #0070f3;
    background-color: transparent;
    border: none;
    font-size: inherit;
    line-height: inherit;
    -webkit-transition: background.2s ease, color.2s ease, box-shadow.2s ease;
    -moz-transition: background.2s ease, color.2s ease, box-shadow.2s ease;
    -o-transition: background.2s ease, color.2s ease, box-shadow.2s ease;
    transition: background.2s ease, color.2s ease, box-shadow.2s ease;
    outline: none;
  }
  .btn:hover {
    color: #0070f3;
    background: rgba(0, 118, 255, 0.1);
  }
</style>

<style>
  .arrow-icon_container {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }
  .arrow-icon_flex {
    display: inline-flex;
  }
  .arrow-icon_right {
    margin-left: 0.5rem;
    margin-right: -0.25rem;
  }
</style>
