html {
  touch-action: manipulation;
  font-feature-settings: "rlig" 1, "calt" 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--geist-cyan);
  color: var(--foreground);
}