@import url("https://rsms.me/inter/inter.css");

:root {
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
  }
}

.screen {
  min-height: 80vh;
  position: relative;
  padding: 0 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.inner {
  max-width: 1200px;
  width: 80vw;
  height: 100%;
  position: relative;
  margin-top: 2vw;
}

/* @media (max-width: 951px) {
  .inner {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
} */

.riku_docs_header {
  font-size: 78px;
  font-weight: 800;
}

.content {
  margin-top: 40px;
}
.content h1,
.content h2 {
  font-weight: 700;
}
.content h2 {
  margin-block-start: 40px;
  margin-block-end: 0.73em;
}
.content .tiny {
  margin-top: -25px;
  font-size: 14px;
  color: var(--accents-6);
  font-weight: 300;
}
.content code {
  font-family: "Noto Sans Mono", monospace;
  padding: 4px;
  background: var(--accents-1);
  border-radius: var(--radius);
  line-height: 2.4;
}
/* @media (max-width: 499px) {
  .content code {
    padding: 0;
  }
} */
.content code.ch-code-scroll-parent {
  border-radius: unset;
}
.content .note {
  width: 100%;
  height: 58px;
  padding: 8px;
  border-radius: var(--radius);
  outline: 1px solid var(--foreground);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.note .icon svg {
  --radius: 9999px;
  color: var(--foreground);
  width: 42px;
  height: 42px;
  padding: 6px;
  border-radius: var(--radius);
  outline: 1px solid var(--foreground);
}

.note .text {
  font-weight: 500;
}

@media (max-width: 1025px) {
  .riku_docs_header {
    font-size: 64px;
  }
  .content {
    margin-top: 10px;
  }
  .content h2 {
    margin-block-start: 24px;
    margin-block-end: 0.73em;
  }
}
@media (max-width: 768px) {
  .riku_docs_header {
    font-size: 48px;
  }
  .content {
    margin-top: 8px;
  }
  .content h2 {
    margin-block-start: 24px;
    margin-block-end: 0.73em;
  }
}
