---
import "../styles/globals.css";
import "./riku-docs.css";

import "@code-hike/mdx/styles.css";
import "../styles/ch.css";

const { frontmatter } = Astro.props;

import Header from "../components/riku/header.astro";
---

<html lang="en">
  <head>
    <title>
      {frontmatter.title ? frontmatter.title : "Riku- Documentation"}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <Header docs={frontmatter.section || null} />
    <div class="screen" style="min-height:unset;">
      <div class="inner">
        <span class="riku_docs_header roboto"
          >{frontmatter.header ? frontmatter.header : frontmatter.title}</span
        >
        <div class="content"><slot /></div>
      </div>
    </div>
    <style
      define:vars={{
        screenH: frontmatter.screen || "",
      }}
    >
      .screen {
        height: var(--screenH);
      }
    </style>
  </body>
</html>
