@import url("https://rsms.me/inter/inter.css");

:root {
  font-family: "Inter", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
      "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", "Noto Color Emoji";
  }
}

.screen {
  min-height: unset;
  position: relative;
  padding: 0 84px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.inner {
  max-width: 1200px;
  width: 80vw;
  height: 100%;
  position: relative;
  margin-top: 28px;
}

@media (max-width: 1025px) {
  .inner {
    margin-top: 8px;
  }
}
@media (max-width: 768px) {
  .screen {
    padding: 0;
  }
  .inner {
    width: 92vw;
    margin-top: 0px;
  }
}

/* @media (max-width: 951px) {
  .inner {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
  }
} */

.riku_docs_header {
  font-size: 78px;
  font-weight: 800;
}

.content {
  margin-top: 40px;
}
.content a.link {
  color: #bb4545;
  transition: color .3s ease;
}
.content a.link:hover {
  color: #ff6464;
}
.content h1,.content h2,.content h3, .content h4, .riku_docs_header {
  user-select: none;
}
.content h1,
.content h2 {
  font-weight: 700;
}
.content h2 {
  margin-block-start: 40px;
  margin-block-end: 0.73em;
}
.content h3 {
  font-weight: 600;
  font-size: 1.2em;
  margin-block-end: .8em;
}
.content h4 {
  font-weight: 500;
  margin-block-start: 0.66em;
  margin-block-end: 0;
  line-height: 2;
}
.content p {
  margin-block-start: 0.33em;
  margin-block-end: 0.33em;
  line-height: 1.4;
}
.content ol,
.content ul {
  list-style: decimal;
  padding-inline-start: 20px;
}
.content hr {
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
}
.content .tiny {
  margin-top: 5px;
  font-size: 14px;
  color: var(--accents-6);
  font-weight: 300;
  user-select: none;
}
.tiny > p {
  margin-block-end: 1.2em;
}
.tiny strong {
  font-weight: 700;
}
.content code:not(.ch-code-scroll-content):not(.ch-code-scroll-parent),
.content p code {
  font-family: "Noto Sans Mono", monospace;
  font-size: 14.6px;
  padding: 4px;
  background: var(--accents-1);
  border-radius: var(--radius);
  line-height: 2.4;
}
/* @media (max-width: 499px) {
  .content code {
    padding: 0;
  }
} */
code.ch-code-scroll-parent,
code.ch-code-scroll-content {
  border-radius: unset;
  line-height: 1;
}
.content .note {
  width: 100%;
  height: 58px;
  padding: 8px;
  border-radius: var(--radius);
  outline: 1px solid var(--foreground);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.note .icon svg {
  --radius: 9999px;
  color: var(--foreground);
  width: 42px;
  height: 42px;
  padding: 6px;
  border-radius: var(--radius);
  outline: 1px solid var(--foreground);
}

.note .text {
  font-weight: 500;
}

@media (max-width: 1025px) {
  .riku_docs_header {
    font-size: 64px;
  }
  .content {
    margin-top: 10px;
  }
  .content h2 {
    margin-block-start: 24px;
    margin-block-end: 0.73em;
  }
}
@media (max-width: 768px) {
  .riku_docs_header {
    font-size: 48px;
  }
  .content {
    margin-top: 8px;
  }
  .content h2 {
    margin-block-start: 24px;
    margin-block-end: 0.73em;
  }
}
