---
interface Props {
  sub?: string;
}
const { sub } = Astro.props;

import "../styles/globals.css";
import { GeistProvider, CssBaseline, Page } from "@geist-ui/core";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Vajitsu{sub ? ` | ${sub}` : ""}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <GeistProvider>
      <Page>
        <slot />
      </Page>
    </GeistProvider>
  </body>
</html>
