---
import styles from "./next.module.css";

interface Props {
  next?: string;
  overwrite?: string;
}
const { next, overwrite } = Astro.props;
---

<div
  class:list={[
    styles.container,
    "noto-sans-mono",
    `${next ? styles.next : styles.no_next}`,
  ]}
>
  <div class={styles.inner}>
    {
      next ? (
        <div class={styles._next}>
          <a
            tabindex="-1"
            href={
              overwrite
                ? overwrite
                : `/riku/docs/${next.toLowerCase().replaceAll(" ", "-")}`
            }
          >
            <span class="disable-select">Next up &gt; </span>
            <u>{next}</u>
          </a>
        </div>
      ) : (
        <div class={next ? null : styles.center}>
          <slot />
        </div>
      )
    }
  </div>
</div>
