.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;

  outline: 1px solid var(--foreground);
  border-radius: var(--radius);

  margin-top: 56px;
  margin-bottom: 24px;
  row-gap: 100px;
}

.container.no_next {
  user-select: none;
}
.container.next {
  outline: unset;
  margin-top: 24px;
}

.inner {
  padding: 14px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px 0;
}

._next {
  background: var(--foreground);
  padding: 12px;
  border-radius: 8px;
  color: var(--background);
  cursor: pointer;
}

._next:hover {
  background: var(--background);
  color: var(--foreground);
  outline: 1px solid var(--foreground);
}

.inner.only_text:hover {
  background: var(--foreground);
  color: var(--background);
}
