---
import styles from "./next.module.css";

interface Props {
  next?: string;
  overwrite?: string;
  style?: string;
}
const { next, overwrite, style } = Astro.props;
---

<div
  class:list={[
    styles.container,
    "noto-sans-mono",
    `${next ? styles.next : styles.no_next}`,
  ]}
  style={style}
>
  <div class:list={[styles.inner, next ? styles.inner_next : null]}>
    {
      next ? (
        <a
          tabindex="-1"
          href={
            overwrite
              ? overwrite
              : `/riku/docs/${next.toLowerCase().replaceAll(" ", "-")}`
          }
          class={styles._next}
        >
          <span class="disable-select">Next up &gt; </span>
          <u>{next}</u>
        </a>
      ) : (
        <div>
          <slot />
        </div>
      )
    }
  </div>
</div>
