---
import styles from "./Button.module.css";
import classNames from "classnames";

interface Props {
  small?: boolean;
  invert?: boolean;
  to: string;
}
const { small, invert, to } = Astro.props;

const className = [styles.button, styles.base, styles.reset];
if (typeof small === "boolean" && small) className.push(styles.small);
if (typeof invert === "boolean" && invert) className.push(styles.invert);
---

<a href={to} class={classNames(className)}>
  <slot />
</a>
