---
interface Props {
  to: string;
  newTab?: boolean;
}
const { to, newTab } = Astro.props;

const origin = Astro.url.origin;
const href = new URL(to, origin);
---

{/* prettier-ignore */
}
<a
  href={to}
  data-to={href.origin}
  data-from={origin}
  class={href.origin === origin ? "relative" : "absolute"}
  target={newTab ? "_blank" : null}
  rel={newTab ? "noopener noreferrer" : null}
  ><slot /></a>
